.body {
    width: auto;
    height: auto;
    background: url('/template/assets/images/logo-detail.png');
    background-color: #e3e2de;
    background-repeat: no-repeat;
    background-size: 900px 600px;
    /* border: 1px solid black; */
}

.wrapper {
    position: relative;
    float: right;
    margin: auto;
    width: 409px;
    height: 550px;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 15px;
    /* border-color: black; */
}

.logo {
    position: relative;
    width: 409px;
    height: auto;
    top: 40px;
    left: 60px;
}

.logo img {
    display: inline-block;
    position: relative;
    height: 120px;
    width: 150px;

}

.welcome {
    position: absolute;
    width: 224px;
    height: 24px;
    left: 98px;
    top: 140px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.input {
    margin-top: 200px;
    /* position: absolute; */
    display: inline-block;
    width: 400px;
    height: auto;
    border: #e3e2de;
}

.input input {
    margin-top: 10px;
    width: 352px;
    margin-left: 23px;
    height: 53px;
    border-radius: 10px;
    background: rgba(113, 113, 113, 0.84);
    color: white;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.button {
    position: relative;
    /* margin-top: 400px; */
    left: 55px;
    width: 409px;
    height: auto px;
    /* border: 2px solid #e3e2de; */
}

.submit {
    left: 80px;
    position: relative;
    margin-top: 40px;
    width: 150px;
    height: 50px;
    border-radius: 12px;
    background-color: #E5E5E5;
}
